/* UITLEG: zoek op
ANIMATIONS */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  /* 1rem is nu 10px (want 100% zou 16px zijn)Echter je kunt dit beter met % doen
  Wanneer je font-size=10px doet dan overschrijft dit de fontsize die 
  een gebruiker wellicht heeft geplaatst omdat deze slechtziend is (stel die heeft m op
  default 30px gezet > dan overchijf je deze met 10px. Doe je 100%
  dan zal bij deze geberuiker de default font-size 30 px blijven. */
}

body {
  box-sizing: border-box;
  /* If you set box-sizing: border-box; on an element, padding and border are included in the width and height
  waardoor ze minder breed lang zullen worden dan wanneer niet. Default is de width dus uitsluitend
  op de content en komen de padding en de border er nog BIJ */
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  padding: 3rem;
}

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  /* Zie voor het snijden ook:https://bennettfeely.com/clippy/ */
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative;
}
.header__logo-box {
  /* om de position absolute te kunnen gebruiken moet je 
  bij de betreffende parent position relative gebruiken! */
  position: absolute;
  top: 4rem;
  left: 4rem;
}
.header__logo {
  /* wanneer je de height zet past de browser automatisch de width aan */
  height: 3.5rem;
}
.header__text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading-primary {
  color: white;
  text-transform: uppercase;
  backface-visibility: hidden;
  /* dit is om de animation die hieronder is 
  beschreven minder shaked.... */
  margin-bottom: 1.6rem;
}
.heading-primary--main {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
  /* De animatie die hier wordt opgeroepen "moveInLeft is ergens hieronder bj 
  @keyframes beschreven" 
  Je kunt deze ook gewoon opnemen doo animate: moveinLeft 1s ease-out;*/
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  /* hiermee kan je aangeven of de animatie in het bgein sneller gaat of bijv aan het eind etc.*/
  /* animation-delay: 3s; > dan begint de animation pas 3 seconde na starten website*/
  /* animation-iteration-count: 3; > dan gebeurt de animation 3 keer (je kunt m ook op oneindig zetten*/
}
.heading-primary--sub {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.75rem;
  animation: moveInRight 1s ease-out;
}

/* ANIMATIONS zie hfdstuk 8 Creating Cool CSS Animations*/
/* 
Je geeft een naam moveInLeft.
Deze neem je dan weer mee bij de class waar je de animation op wilt hebben,
De transform is vanaf de situatie dat de content van de betreffende class nu staat
en dat is in dit geval in het midden, dus wil je dat deze links ervan begint
moet je translateX en dan een minwaarde meegeven, zie hieronder.
Je zou ook nog de  functie rotate kunnen toevoegen bijv  transform:rotate(90deg)
Je kunt de animatie moveinLeft op meerdere plekken gebruiken
Een goeie manier om de animatie te gebruiken is bij hover .class:hover */
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem) rotate(50deg);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInButton {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }
  80% {
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
/* zie de werking van animation moveInButton bij de BUTTON */
/* EINDE ANIMATIONS */
/* BUTTON */
.btn:link, .btn:visited {
  font-size: 1.6rem;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
}
.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2);
}
.btn::after {
  /* je hebt bij een after altijd content nodig > zie hieronder. ook al laat je die leeg */
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}
.btn--animated {
  animation: moveInButton 1s ease-out 0.75s;
  animation-fill-mode: backwards;
  /* de 4e eigenschap bij animation 0,75sec betekent dat de 
  animatie pas 0.75s begit na opstarten site
  animation-fill-mode backwards houdt in dat ie 
  de eertse positie bij de moveinButton begint in die 0.75s...*/
}
.btn-white {
  background-color: white;
  color: #777;
}
.btn-white::after {
  background-color: white;
}/*# sourceMappingURL=main.css.map */