//1 rem is 10px, zie _base.scss

.row {
    max-width: $grid-width;
    //background-color: yellow;
    margin: 0 auto;

    //alles behalve last child vandaar de NOT
    &:not(:last-child) {
        margin-bottom: $gutter-vertical;
    }

    @include clearfix;

    [class^="col-"] // dit betekent iedere class ide begint met "col-"

        {
        //background-color: rgb(30, 0, 255);
        float: left;

        &:not(:last-child) {
            margin-right: $gutter-horizontal;
        }
    }

    .col-1-2 {
        width: calc((100% - #{$gutter-horizontal})/2);
    }

    .col-1-3 {
        width: calc((100% - 2 * #{$gutter-horizontal})/3);
    }

    .col-2-3 {
       
        width: calc(2*((100% - 2 * #{$gutter-horizontal})/3) + #{$gutter-horizontal});
        

        }

        .col-1-4 {
            width: calc((100% - 3 * #{$gutter-horizontal})/4);
        }

        .col-2-4 {
            width: calc(2*((100% - 3 * #{$gutter-horizontal})/4) + #{$gutter-horizontal});
            }


            .col-3-4 {
                width: calc(3*((100% - 3 * #{$gutter-horizontal})/4) + 2 * #{$gutter-horizontal});
            }

        }