
body {
    
//If you set box-sizing: border-box; on an element, padding and border are included in the width and height
//waardoor ze minder breed lang zullen worden dan wanneer niet. Default is de width dus uitsluitend
//op de content en komen de padding en de border er nog BIJ */
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: #777;
    padding: 3rem;
}

.heading-primary {
    color: $color-white;
    text-transform: uppercase;
    backface-visibility: hidden;
//dit is om de animation die hieronder is beschreven minder shaked.... 
    margin-bottom: 1.6rem;

    &--main {
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;
        //De animatie die hier wordt opgeroepen "moveInLeft is ergens hieronder bij  @keyframes beschreven" 
        //Je kunt deze ook gewoon opnemen doo animate: moveinLeft 1s ease-out;
       // animation-name: moveInLeft;
        //animation-duration: 1s;
        //animation-timing-function: ease-out;
        /// hiermee kan je aangeven of de animatie in het bgein sneller gaat of bijv aan het eind etc.
        //animation-delay: 3s; > dan begint de animation pas 3 seconde na starten website
        //animation-iteration-count: 3; > dan gebeurt de animation 3 keer (je kunt m ook op oneindig zetten
    }

    &--sub {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.75rem;
        animation: moveInRight 1s ease-out;

    }
}